.about-container {
  max-width: 1100px;
  width: 90%;               
  margin: 30px auto;       
  border-radius: 15px;
  background-color: var(--card-bg);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
  padding: 40px 40px 0 40px; 

}

.about-header {
  text-align: center;
  margin-bottom: 30px;
  color: var(--text-main); 
}

.about-content {
  background-color: var(--card-bg);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
  padding: 40px 40px 0 40px; 
  transition: background-color 0.3s ease;
}

.about-section {
  margin-bottom: 30px;
}

.about-section h2 {
  color: var(--text-main);
  display: inline-block;
  margin-bottom: 15px;
}

.about-text {
  line-height: 1.6;
  color: var(--text-secondary);
}

.about-image-wrapper {
  margin-top: 40px;
  margin-bottom: 40px; 
  text-align: center;  
}

.about-bottom-img {
  max-width: 100%;    
  height: auto;        
  border-radius: 10px; 
  display: block;
  margin: 0 auto;      
}

.about-list {
  list-style: none;
  padding: 0;
}

.about-list li {
  padding: 8px 0;
  color: var(--text-secondary);
}

.about-list li strong {
  color: var(--text-main);
}

@media (max-width: 768px) {
  .about-container {
    width: 95%;      
    padding: 20px;  
    margin: 15px auto;
  }
}