
.about-container {
  max-width: 850px;
  margin: 0 auto 200px auto;
  padding: 0 100px;
}

.about-header {
  text-align: center;
  margin-bottom: 30px;
  color: #fff; 
}


.about-content {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden; 
  padding: 40px 40px 0 40px; 
}

.about-section {
  margin-bottom: 30px;
}

.about-section h2 {
  color: #000000;
  display: inline-block;
  margin-bottom: 15px;
}

.about-text {
  line-height: 1.6;
  color: #444;
}

.about-image-wrapper {
  margin: 0 -40px; 
  margin-top: 40px;
}

.about-bottom-img {
  width: 100%;
  height: 350px;
  object-fit: cover; 
  display: block;
}

.about-list {
  list-style: none;
  padding: 0;
}

.about-list li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}