<div class="register-wrapper">
  <div class="register-container">
    <h2>Utwórz konto w Biurze Podróży</h2>
    
    <form class="register-form">
      <div class="form-group">
        <label>Imię:</label>
        <input type="text" name="imie" [(ngModel)]="userData.imie" 
               placeholder="Wpisz swoje imię"
               [class.input-error]="probowanoZarejestrowac && !userData.imie">
        @if (probowanoZarejestrowac && !userData.imie) { 
          <span class="error-text">Pole imię jest wymagane</span> 
        }
      </div>

      <div class="form-group">
        <label>Nazwisko:</label>
        <input type="text" name="nazwisko" [(ngModel)]="userData.nazwisko"
               placeholder="Wpisz swoje nazwisko"
               [class.input-error]="probowanoZarejestrowac && !userData.nazwisko">
        @if (probowanoZarejestrowac && !userData.nazwisko) { 
          <span class="error-text">Pole nazwisko jest wymagane</span> 
        }
      </div>

      <div class="form-group">
        <label>Data urodzenia:</label>
        <input type="date" name="dataUrodzenia" [(ngModel)]="userData.dataUrodzenia"
               [class.input-error]="probowanoZarejestrowac && (!userData.dataUrodzenia || !isFullAge())">
        @if (probowanoZarejestrowac && !userData.dataUrodzenia) { 
          <span class="error-text">Pole data urodzenia jest wymagane</span> 
        } @else if (probowanoZarejestrowac && !isFullAge()) {
          <span class="error-text">Musisz mieć ukończone 18 lat</span>
        }
      </div>

      <div class="form-group">
        <label>E-mail:</label>
        <input type="email" name="email" [(ngModel)]="userData.email"
               placeholder="np. jan.kowalski@poczta.pl"
               [class.input-error]="probowanoZarejestrowac && (!userData.email || !isValidEmail())">
        @if (probowanoZarejestrowac && !userData.email) { 
          <span class="error-text">Pole e-mail jest wymagane</span> 
        }
       @else if (probowanoZarejestrowac && !isValidEmail()) {
          <span class="error-text">Wprowadź poprawny adres e-mail</span>
  }
      </div>

      <div class="form-group">
        <label>Hasło:</label>
        <input type="password" name="haslo" [(ngModel)]="userData.haslo"
               placeholder="Wymyśl silne hasło"
               [class.input-error]="probowanoZarejestrowac && !userData.haslo">
        @if (probowanoZarejestrowac && !userData.haslo) { 
          <span class="error-text">Pole hasło jest wymagane</span> 
        }
      </div>

      <div class="form-group">
        <label>Powtórz hasło:</label>
        <input type="password" name="powtorzHaslo" [(ngModel)]="userData.powtorzHaslo"
               placeholder="Wpisz ponownie to samo hasło"
               [class.input-error]="probowanoZarejestrowac && (userData.haslo !== userData.powtorzHaslo || !userData.powtorzHaslo)">
        @if (probowanoZarejestrowac && !userData.powtorzHaslo) { 
          <span class="error-text">Potwierdzenie hasła jest wymagane</span> 
        } @else if (probowanoZarejestrowac && userData.haslo !== userData.powtorzHaslo) { 
          <span class="error-text">Hasła nie są identyczne</span> 
        }
      </div>

      <button type="button" class="btn-submit" (click)="utworzKonto()">Utwórz konto</button>
    </form>

    <p class="login-link">Masz już konto? <a routerLink="/logowanie">Zaloguj się tutaj</a></p>
  </div>
</div>