.navbar {
  display: flex;
  justify-content: flex-end; 
  gap: 20px;
  padding: 15px 50px;
  background-color: none;
 
}

.navbar button {
  background: none;
  border: 2px solid transparent;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 500;
  color: #444;
  cursor: pointer;
  border-radius: 20px; 
  transition: all 0.3s ease;
}

.navbar button:hover {
  color: #00d5ff; 
  background-color: #f0f7ff; 
  
}

