.main-container {
  background-color: white;
  max-width: 1100px;        
  width: 90%;              
  margin: 30px auto;      
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  box-sizing: border-box;   
}

.search-card-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}


.search-field {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
}

.search-field label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.search-field input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-btn {
  background-color: #35ddff;
  color: white;
  border: none;
  padding: 13px 30px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.search-btn:hover {
  background-color: #02afd2;
}

.oferty-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.karta-oferty {
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

.karta-oferty:hover {
  transform: scale(1.03);
}

.karta-oferty img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.karta-tresc {
  padding: 30px 15px 20px 15px; 
  text-align: center;
}

.karta-tresc h3 {
  font-size: 1.3rem;   
  margin-bottom: 10px;  
  color: #333;
  font-weight: 600;
}